# Hello World

- `print` function is used to print the content inside the quotes 
- can be in 'single quotes' or "double quotes"

In [ ]:
 print("Hello World")

### What just happened? 

-  when you run Python code
    - the computer interprets the code and executes it 

- `print` is a function which will display whatever is provided in brackets 
    - in case of a mathematical expression, the result is evaluated and displayed
    - if there is a string, it is simply displayed 

- there are many such functions in Python built for specifc tasks
    - simply call the function and give it an input

- `type` is another such function  
    - it displays the type of the data provided in brackets



---

# Comments

- comments are text in code that is not executed by the interpreter 
  - in Python, comments begin with `#`
- comments may be used creatively to comment out pieces of code to stop the interpreter from running it
- shortcut to toggle comment on a line 
  - `CMD + /` (macOS) 
  - `Ctrl + /` (Windows)

In [ ]:
# this is a single comment
print('this is not a comment')

"""
This is a 
multi-line comment
"""
print("this is not a comment either") # but comments can be added liek this as well

# Variables

- data entities that takes a value

In [ ]:
# bind number 7 to variable 'x'
x = 7 # the value of 7 is assigned to x 

# print value of 'x'
print(x)

### Python Variable Naming Convention (Industry Standard)

- variables names must start with a lowercase letter or underscore 
  - can be followed by numbers or underscore
- `snake_case` is the conventional way of writing variable names with multiple words

# Simple Program 

- *input*: uses the `input` command
- *output*: used the `print` command

In [ ]:
name = input('What is your name? ')
print('Welcome to the world of Python,', name )



---

# Data Types

- a particular kind of data entity, defined by the values it can take

- Python has several built-in data types, some of them are:
  - *numeric* data types
  - *text sequence* data type
  - *sequence* data types
  - *mapping* data type
  - *boolean* data type
  - *set* data type

- the `type()` function is used to check the data type of something in Python

### Numeric Data Types

- two basic numeric data types
  1. `int`: integers 
  2. `float`: decimal numbers

In [ ]:
# create int type variable
x = 7 # 7 is an integer

# check type of variable
type(x)

In [ ]:
# create float type variable
x = 3.14 # 3.14 is a decimal number with a characteristic and mantissa

# check type of variable
type(x)

### Text Sequence Types

- strings are a *text sequence* type
  - they are a sequence of characters
  - they are immutable
  - they are ordered

In [ ]:
# define a string 
python_string = 'TECH I.S. is awesome!'

# check type 
type(python_string)

### Sequence Types

- there are three kinds of *sequence* types:
  - `list`: mutable sequence
  - `tuple`: immutable sequence
  - `range`: immutable sequence

##### List

In [ ]:
# define a list
list_example = ['3',92,'x',3.14]
print(list_example)

# check length of the list
print(len(list_example))

# check type
type(list_example)

##### Tuple

In [ ]:
# define a tuple
tuple_example = (5,'11','a',2.86)
print(tuple_example)

# check length of tuple
print(len(tuple_example))

# check type
type(tuple_example)

##### Tuple vs List Comparison

|Lists |Tuples |
|------|-------|
|ordered group of comma seperated values in *square brackets* |ordered group of comma seperated values in *parenthesis*   |
|square brackets are mandatory |parenthesis not mandatory |
|mutable |immutable|
|once created, content changes *can* be made | once created, content *cannot* be changed |
|should be chosen if content is not fixed, and keeps changing| chosen if content is fixed and never changes|
| cannot be used as keys for dictionaries  | can be used as keys for dictionaries |
|are *not* hashable and immutable| are hashable and immutable|

##### Range

In [ ]:
# define a range
range_example = range(7)
print(range_example)

# check length of the range
print(len(range_example))

# check type
type(range_example)

In [ ]:
# define range with (start,stop,step)
range_example = range(0,20,2)
print(range_example)

# check length of the range
print(len(range_example))

# check type
type(range_example)

### Mapping Types

- `dictionary` is a mapping data type
  - it is mutable
  - unordered

In [ ]:
# define a dictionary
b = {'one': 1, 'two': 2, 'three': 3}
print(b)

# check type
type(b)

### Boolean Types

- state of truth
  - may be `True` or `False`

In [ ]:
# define a 'true' boolean 
boolean = True

# check type
type(boolean)

In [ ]:
# define a 'false' boolean 
boolean = False

# check type
type(boolean)

### Set Types

- `set` is an unordered collection of *distinct* objects

In [ ]:
set_of_numbers = {0,9,1,5,7}
print(set_of_numbers)

In [ ]:
names = ['olivia', 'caleb', 'olivia']
names_set = set(names)
unique_names = list(names_set)
print(unique_names)

# Operators

- popular kinds of operators 
  - `numeric` operators 
  - `comparison` operators
  - `logical` operators 
  - `assignment` operators
  - `idenity` operators
  - `membership` operators
  - `bitwise` operators 

- some are discussed below

### Numeric Operators

- used with numeric data types to perform mathematical operations
  - `+`: addition
  - `-`: subtraction
  - `*`: multiplication
  - `/`: division
  - `//`: floor division
  - `%`: modulus (remainder)
  - `**`: raising to power
  - `abs()`: absolute value of number
  - `round()`: rounds a number
  - `bin()`: get binary version of a number
  - `hex()`: get hexadecimal version of a number

In [ ]:
# set values of x, y and z for numeric operators exploration
x = 5   # integer value
y = 2.0 # float value
z = -13 # negative integer

#(run this cell to initialize values for the next few cells!)

In [ ]:
# sum of x and y
print(x + y)

In [ ]:
# difference of x and y
print(x - y)

In [ ]:
# product of x and y
print(x * y)

In [ ]:
# quotient of x and y
print(x / y)

In [ ]:
# floored quotient of x and y
print(x // y)

In [ ]:
# remainder of x / y
print(x % y)

In [ ]:
# absolute value 
print(abs(z))

In [ ]:
# x raised to power y
print(x ** y)

In [ ]:
# rounding a decimal example - round down
print(round(2.1))

In [ ]:
# rounding a decimal example - round up
print(round(3.7))

In [ ]:
# binary version of the number
print(bin(37))

In [ ]:
# hexadecimal version of the number
print(hex(37))

### Comparison Operators

- used to compare two values
  - `<`: less than 
  - `>`: greater than 
  - `<=`: less than or equal to
  - `>=`: greater than or equal to
  - `==`: equality 
  - `!=`: inequality

In [ ]:
# Greater Than 
i = 3 
j = 7

print(i > j)

In [ ]:
# Greater Than or Equal
i = 3 
j = 7

print(i >= j)

In [ ]:
# Less Than 
i = 3 
j = 7

print(i < j)

In [ ]:
# Less Than or Equal 
i = 3 
j = 7

print(i <= j)

In [ ]:
# Equality Test #1
i = 3
j = 7

print(i == j)

In [ ]:
# Equality Test #2
i = 3
j = 3

print(i == j)

In [ ]:
# Inequality Test #1
i = 3
j = 7

print(i != j)

In [ ]:
# Inequality Test #2
i = 3
j = 3

print(i != j)

### Logic Operators

- used to combine conditional statements
  - `and` 
  - `or`
  - `not`

##### `not` Operator

In [ ]:
##  'not' operator 
a = True

print(not a)

![Logic Tables](https://i.imgur.com/42pVFtJ.jpg "Logic Tables")

##### `and` Operator

In [ ]:
# a and b are true
a = True 
b = True

print(a and b)

# only a is true 
a = True 
b = False

print(a and b)

# only b is true 
a = False 
b = True

print(a and b)

# a and b are both false
a = False 
b = False

print(a and b)

##### `or` Operator

In [ ]:
## 'or' operator 

# a and b are true
a = True 
b = True

print(a or b)

# only a is true 
a = True 
b = False

print(a or b)

# only b is true 
a = False 
b = True

print(a or b)

# a and b are both false
a = False 
b = False

print(a or b)

### Assignment Operators

- used to assign values to variables
  - `=`

- following operators combine numerical operations at the same time as assignment
  - `+=`
  - `-=`
  - `*=`
  - `/=`
  - `//=`
  - `%=`
  - `**=`

In [ ]:
# assignment operator 

x = 21
print(x)

In [ ]:
# += operator

x += 3
print(x)

In [ ]:
# -= operator

x -= 3
print(x)

In [ ]:
# *= operator

x *= 3
print(x)

In [ ]:
# /= operator

x /= 3
print(x)

In [ ]:
# //= operator

x //= 3
print(x)

In [ ]:
# %= operator

x %= 3
print(x)